<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="企业集团类网站产品">
    <meta name="description" content="网站模板,自定义模板 ">
    <meta name="author" content="YY-MO">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="stylesheet" type="text/css" href="http://mo004_1124.mo4.line1.uemo.net/templates/ue_content/templates/css/lib.css">
    <link rel="stylesheet" type="text/css" href="http://mo004_1124.mo4.line1.uemo.net/templates/ue_content/templates/css/style.css">
    <link rel="stylesheet" type="text/css" href="http://resources.jsmo.xin/templates/upload/1124/1124.css">
    <script type="text/javascript" src="http://code.uemo.net/script/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://mo004_1124.mo4.line1.uemo.net/templates/ue_content/templates/script/org1480746227.js" data-main="baseMain"></script>
    <title>发展历程 - mo004_1124 - 建筑/空间/企业网站产品</title>
</head>

<body class="nobanner">
    <div id="header" class="">
        <div class="content">
            <a href="http://mo004_1124.mo4.line1.uemo.net/" id="logo"><img src="http://resources.jsmo.xin/templates/upload/1124/201611/1479999676772.png" height="40" /></a>
            <ul id="nav">
                <li class="navitem"><a class="nav-a " href="http://mo004_1124.mo4.line1.uemo.net/" target="_self"><span  data-title="首页">首页</span></a></li>
                <li class="navitem"><a class="nav-a " href="http://mo004_1124.mo4.line1.uemo.net/project/" target="_self"><span data-title="项目案例">项目案例</span></a></li>
                <li class="navitem"><a class="nav-a " href="http://mo004_1124.mo4.line1.jsmo.xin/project/cid/8411/" target="_self"><span data-title="环保">环保</span></a></li>
                <li class="navitem"><a class="nav-a  active " href="javascript:;" target=""><span data-title="集团概况">集团概况</span><i class="fa fa-angle-down"></i></a>
                    <ul class="subnav">
                        <li><a href="http://mo004_1124.mo4.line1.uemo.net/page/17596/" target="_self"><span data-title="公司简介">公司简介</span><i class="fa fa-angle-right"></i></a></li>
                        <li><a href="http://mo004_1124.mo4.line1.uemo.net/team/" target="_self"><span data-title="精英团队">精英团队</span><i class="fa fa-angle-right"></i></a></li>
                        <li><a class="active" href="http://mo004_1124.mo4.line1.uemo.net/page/17597/" target="_self"><span data-title="发展历程">发展历程</span><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </li>
                <li class="navitem"><a class="nav-a " href="http://mo004_1124.mo4.line1.uemo.net/service/" target="_self"><span data-title="服务范围">服务范围</span></a></li>
                <li class="navitem"><a class="nav-a " href="http://mo004_1124.mo4.line1.uemo.net/news/" target="_self"><span data-title="资讯中心">资讯中心</span></a></li>
                <li class="navitem"><a class="nav-a " href="http://mo004_1124.mo4.line1.uemo.net/page/contact/" target="_self"><span data-title="联系我们">联系我们</span></a></li>
            </ul>
            <div class="clear"></div>
        </div>
        <a id="headSHBtn" href="javascript:;"><i class="fa fa-bars"></i></a></div>
    <div id="sitecontent">
        <div class="npagePage Pageyemian" id="page_none">
            <div class="content">
                <div class="header">
                    <p class="title">发展历程</p>
                    <p class="subtitle">development history</p>
                </div>
                <div class="fw postbody">
                    <p>在公司治理方面，董事会高度重视公司内部控制和风险管理，不断强化公司整体风险管理能力，提升企业合规经营水平。企业将不断优化董事会运作机制、支持董事会科学决策，积极履行对股东、客户、员工、社会等利益相关者的责任。</p>
                    <p>
                        <br />
                    </p>
                    <hr />
                    <p><span style="font-size: 18px;">2016</span><span style="font-size: 18px;">年</span> &nbsp; &nbsp; <span style="color: rgb(165, 165, 165);"></span><span style="color: rgb(165, 165, 165);">--→&nbsp;</span> &nbsp; &nbsp; 第九届中国设计业青年百人榜获奖者并颁发证书</p>
                    <hr />
                    <p><span style="font-size: 18px;">2015</span><span style="font-size: 18px;">年</span> &nbsp; &nbsp; <span style="color: rgb(165, 165, 165);"></span><span style="color: rgb(165, 165, 165);">--→&nbsp;</span>&nbsp; &nbsp; 企业版旗下最新研发的针对于中小型企业网站模板系统，团队有多年丰富的建站经验</p>
                    <hr />
                    <p><span style="font-size: 18px;">2014</span><span style="font-size: 18px;">年</span> &nbsp; &nbsp; <span style="color: rgb(165, 165, 165);"></span><span style="color: rgb(165, 165, 165);">--→&nbsp;</span> &nbsp; &nbsp;站酷主办曲美家具电脑桌面壁纸设计活动 设计评委-&nbsp; 2014-2015中国网页设计联盟 设计评委</p>
                    <hr />
                    <p><span style="font-size: 18px;">2013</span><span style="font-size: 18px;">年</span> &nbsp; &nbsp; <span style="color: rgb(165, 165, 165);"></span><span style="color: rgb(165, 165, 165);">--→&nbsp;</span> &nbsp; &nbsp;美国Tympanus在互联网选出35个杰出视觉使用网站之一（其中，中国站仅此一个）</p>
                    <hr />
                    <p><span style="font-size: 18px;">2012</span><span style="font-size: 18px;">年</span> &nbsp; &nbsp; <span style="color: rgb(165, 165, 165);"></span><span style="color: rgb(165, 165, 165);">--→&nbsp;</span> &nbsp; &nbsp;2012年全球最具权威的Awwwards选出365个全球最佳CSS网站，通过国际评审团的层层筛选，官网被选其中，并获此次评审的最高奖项。</p>
                    <hr />
                    <p><span style="font-size: 18px;">2011</span><span style="font-size: 18px;">年</span> &nbsp; &nbsp; <span style="color: rgb(165, 165, 165);"></span><span style="color: rgb(165, 165, 165);">--→&nbsp;</span> &nbsp; &nbsp;在集体探讨下，发现目前的已经不能满足需求，集体讨论起</p>
                    <hr />
                    <p><span style="font-size: 18px;">2010</span><span style="font-size: 18px;">年</span> &nbsp; &nbsp; <span style="color: rgb(165, 165, 165);"></span><span style="color: rgb(165, 165, 165);">--→&nbsp;</span> &nbsp; &nbsp;企业将不断优化董事会运作机制、支持董事会科学决策，积极履行对股东、客户、员工、社会等利益相关者的责任。</p>
                    <hr />
                    <p><span style="font-size: 18px;">2009</span><span style="font-size: 18px;">年</span> &nbsp; &nbsp; <span style="color: rgb(165, 165, 165);"></span><span style="color: rgb(165, 165, 165);">--→&nbsp;</span> &nbsp; &nbsp;了解最新网站体验及交互原则，尽可能的为用户考虑及功能、操作、体验交互一体化的专业模板。</p>
                    <hr />
                    <p><span style="font-size: 18px;">2008</span><span style="font-size: 18px;">年</span> &nbsp; &nbsp; <span style="color: rgb(165, 165, 165);"></span><span style="color: rgb(165, 165, 165);">--→&nbsp;</span> &nbsp; &nbsp;受邀到飞信进行设计指导讲座-&nbsp; 受邀到呱呱视频社区进行设计指导讲座-&nbsp; 受邀到创新工场进行设计指导讲座</p>
                    <hr />
                    <p><span style="font-size: 18px;">2007</span><span style="font-size: 18px;">年</span> &nbsp; &nbsp; <span style="color: rgb(165, 165, 165);"></span><span style="color: rgb(165, 165, 165);">--→&nbsp;</span> &nbsp; &nbsp;营业收入前100排序位列第3位，荣入2007年度中国广告公司综合实力50强排名第6位</p>
                    <hr />
                    <p><span style="font-size: 18px;">2006</span><span style="font-size: 18px;">年</span> &nbsp; &nbsp; <span style="color: rgb(165, 165, 165);"></span><span style="color: rgb(165, 165, 165);">--→&nbsp;</span> &nbsp; &nbsp;连续第4年在中国广告公司营业收入前100名排序中位列榜首</p>
                    <hr />
                    <p><span style="font-size: 18px;">2005</span><span style="font-size: 18px;">年</span> &nbsp; &nbsp; <span style="color: rgb(165, 165, 165);"></span><span style="color: rgb(165, 165, 165);">--→&nbsp;</span> &nbsp; &nbsp;公司营业额首次进入中国广告业排行前3名</p>
                    <hr />
                    <p>
                        <br />
                    </p>
                </div>
                <div id="pages"></div>
            </div>
        </div>
    </div>
    <div id="footer">
        <p>COPYRIGHT (©) 2017 mo004_1124 - 建筑/空间/企业网站产品.
            <a class="beian" href="http://www.miitbeian.gov.cn/" style="display:inline; width:auto; color:#8e8e8e" target="_blank"></a>
        </p>
    </div>
    <div id="shares"><a id="sshare"><i class="fa fa-share-alt"></i></a><a href="http://service.weibo.com/share/share.php?appkey=3206975293&" target="_blank" id="sweibo"><i class="fa fa-weibo"></i></a><a href="javascript:;" id="sweixin"><i class="fa fa-weixin"></i></a><a href="javascript:;" id="gotop"><i class="fa fa-angle-up"></i></a></div>
    <div class="fixed" id="fixed_weixin">
        <div class="fixed-container">
            <div id="qrcode"></div>
            <p>扫描二维码分享到微信</p>
        </div>
    </div>
    <div class="hide">
        <script src="http://s11.cnzz.com/stat.php?id=5935831&web_id=5935831" type="text/javascript"></script>
    </div>
</body>

</html>
[0x7FFC7CAC70E3] ANOMALY: use of REX.w is meaningless (default operand size is 64)
